#me{
	width: 250px;
	margin:0 auto;
	display: block;
	border-radius: 50%;
	border:solid $accent-color 3px;
	@media(min-width: $bp-medium){
		float:right;
		margin:0 20px 0 50px;
	}
}

#aboutText{
	margin-bottom: 100px;
}

#about p{
	@include main-body-font;
	font-size: .75rem;
	@media(min-width: $bp-small){
		font-size:1rem;
	}
}

#skillBlock{
	/*@include skillBlock-border;*/
	margin: 0 20px;
	ul{
		font-size: 1.25rem;
		list-style-type: none;
		width:100%;
		margin:25px 0;
		padding:0;
		li{
			margin:2px 0;
			@media(min-width:$bp-xsmall){
				margin:10px 0;
			}
		}
	}
}

.skillIcon{
	display: inline-block;
	font-size: 1rem;
	color:$main-font-color;
	width:25px;
	text-align: center;
	@media(min-width:$bp-xsmall){
		width:40px;
		font-size: 2rem;
	}
	img{
		margin:0 auto;
		width:20px;
		@media(min-width: $bp-xsmall){
			width:30px
		}
	}
}

.skillLevelDiv{
	width:75%;
	display: inline-block;
	background-color: $accent-color3;
	margin:5px;
	border-radius: 25px;
	line-height: 1;
	font-size: .75rem;
	@media(min-width:$bp-xsmall){
		font-size: 1rem;
		
	}
}

.skillLevel{
	background-color: $accent-color2;
	display: inline-block;
	font-size: .5rem;
	font-weight: bold;
	line-height: 1;
	padding:3px 0 0 6px;
	
	border-radius: 25px;
	/*border-bottom-left-radius: 25px;*/
	border-right: solid 5px $accent-color;
	@media(min-width:$bp-xsmall){
		font-size: .75rem;
		padding:4px 0 2px 10px;
		
	}
}

