/*#brand-logo-div{
	display: flex;
	justify-content: center;
	align-items: center;
	height: $standard-height;
	background-color: $nav-color;
	@media(min-width: $bp-medium){
		height: $standard-height-md;
	}
}

#brand-logo{
	height: $brand-height;
	width: 90%;
}*/