#footer{
	background-color: $footer-color;
	padding-bottom: 150px;
	margin-top: 150px;
	p{
		color:$main-font-color;
		text-align: center;
		@include link;
	}
p{
	@include main-body-font;
}



	#contactListDiv{
		display: flex;
		justify-content: center;
	}

	#contactList{
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style-type: none;
		padding:0;
		width:50%;
		@media(min-width:$bp-large){
			width:100%;
		}
		li{
			@include link;
			display: inline;
			font-size: 2.5rem;
			text-align: center;
			margin:10px;
			/*.contactDesc{
				font-size: .6rem;
			}*/
			@media(min-width:$bp-xsmall){
				font-size: 2.75rem;
				margin:15px;
			}
			@media(min-width:$bp-small){
				margin:20px;
			}
			@media(min-width:$bp-medium){
				font-size: 3.5rem;
				margin:30px;
			}
		}
	}



}