//normal states

.navBrandPanel{
	height: initial;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	-webkit-transition: all 1s;
	transition: all 1s;
	@media(min-width: $bp-medium){
		height: $standard-height;
		flex-direction: row;
	}
}

	.brandDiv{
		order:0;
	}
		.brand{
			height:$brand-height;
			margin:10px;
			max-width: 90%;
			@media(min-width: $bp-medium){
				margin:30px;
			}
		}

		.miniBrand{
			height:35px;
			float: left;
			padding-left: 30px;
			@media(min-width:$bp-xsmall){
				height:40px;
				padding: 10px 0 0 30px;
			}
		}

	

	.nav{
		display: none;
		
		z-index: 1000;
		order:2;
		flex-grow: 2;
		width:100%;
		background-color: $nav-color;
		@media(min-width: $bp-xsmall){
			display: flex;
			justify-content: flex-end;
		}
	}

		.nav ul{
			
			flex-direction: column;

			width:100%;
			padding:0;
			list-style-type: none;
			@media(min-width: $bp-xsmall){
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}
			@media(min-width: $bp-medium){
				width:90%;
			}
			@media(min-width: $bp-large){
				width:80%;
			}
		}

			.navLink{
				text-align: center;
				align-self: center;
				padding-bottom: 20px;
				& a{
					text-decoration: none;

					font: 1.3rem $heading-font;
					text-transform: lowercase;
				}

				@include link;

				@media(min-width: $bp-xsmall){
					align-self: flex-end;
					& a{
						font-size: .8rem;
						padding:5px;
					}
				}
				@media(min-width: $bp-small){
					& a{
						font-size: 1rem;
					}
				}
				@media(min-width: $bp-medium){
					/*margin-top: 80px;*/
					& a{
						font-size: 1.3rem;
						
					}
				}
			}

//sticky states

.sticky{
	display: hidden;
	opacity: 1;
	top: 0px;
	ul{
		max-width: 900px;
	}
	@media(min-width: $bp-xsmall){
		display: flex;
	}
}

.navBrandPanelSticky{
	/*display: flex;*/
	flex-direction: row;
	background-color: $nav-color;
	position: fixed;
	/*max-height: 150px;*/
	z-index: 999;
	width: 100%;
	padding-top: 17px;
	/*overflow: hidden;*/
	-webkit-transition: all 1s;
	transition: all 1s;
	padding-bottom: 6px;
	border-bottom: $accent-color3 1px solid;
}

.navBrandPanelSticky.unstuck{
	
	top: -100px;
	opacity: 0;
	background: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.navBrandPanelSticky.brandDiv.sticky{
	position: fixed;
	top:20px;
}

//open states

.navBrandPanel.open{
	height:270px;
	-webkit-transition: all 1s;
	transition: all 1s;
}


.navBrandPanelSticky.sticky.open{
	flex-direction: column;
}


/*.navBrandPanelSticky.open{
	height:470px;
}*/

		.navBrandPanelSticky .navLink{
			@media(min-width: $bp-xsmall){
				
				& a{
					font-size: .8rem;
					/*padding:2px;*/
				}
			}
			@media(min-width: $bp-small){
				& a{
					font-size: 1rem;
				}
			}
			@media(min-width: $bp-medium){
				/*margin-top: 80px;*/
				& a{
					font-size: 1.3rem;
					
				}
			}
		}


			