#topImg{
	border-bottom: solid .25rem $accent-color2;
	border-top: solid .25rem $accent-color2;
	display: block;
	margin-bottom: 0;
	@media(min-width: $bp-xsmall){
		margin-bottom: 110px;
	}
	&Div{
		width:100%;
		height: 200px;
		/*position: absolute;*/
		overflow: hidden;
		@media(min-width: $bp-large){
			height: 400px;
		}
		/*img{
			width: 200%;
			position: absolute;
			left:-50%;
			top:-75%;
			@media(min-width: $bp-large){
				top:-75%;
			}
		}*/
	}
}

/*#selectedTopImg{
	background-image: url(../images/arches.jpg);
	position: relative;
	height: inherit;
}*/



#selectedTopImg{  
	/*background-image: url(../images/patsy.jpg);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-origin: padding-box;
	/*padding: 5rem 0 3rem 0;*/
	margin-bottom: 6rem;
	box-shadow: 0 .5rem 1rem rgba(4,42,43,.8);
	height:60rem;
	
	
}
	

	#selectedTopImg.main{
		background-image: url(../images/arches-xs.jpg);
		background-attachment: local;
		@media(min-width:$bp-xsmall){
			background-image: url(../images/arches-sm.jpg);
		}
		@media(min-width:$bp-small){
			background-image: url(../images/arches.jpg);
		}

	}


