.siteInfo{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0;
	@media(min-width: $bp-small){
		flex-direction: row;
	}
}

#web{
	padding:15px;
	@include link;
}

.siteTitle{
	font: 1rem $heading-font;
	color:$heading-font-color;
	margin:0;
	text-align: center;
}

.siteImg{
	max-width: 200px;
	@media(min-width: $bp-xsmall){
		max-width: 400px;
	}
	@media(min-width: $bp-medium){
		max-width: 600px;
	}
}


.siteDescription{
	@include link;
	font: .75rem $main-text-font;
	line-height: 1.15;
	color:$main-font-color;
	margin: 0 1rem;
	@media(min-width: $bp-xsmall){
		font-size: .85rem;
	}
}



.languageIcons{
	padding:0;
	list-style-type: none;
	display: flex;
	flex:row wrap;
	justify-content: space-around;
	text-align: center;	
	/*width:100%;*/
	font-size: 2rem;
	color:$code-bg-color;
	@media(min-width:$bp-small){
		justify-content: flex-start;
	}
	li{
		margin:0 .2rem;
		align-self: center;
		line-height: 0;
		@media(min-width:$bp-xsmall){
			margin:0 .5rem;
		}
	}
	img{
		width:30px;
	}
	.languageIconDescription{
		font-size: .45rem;
		text-align: center;
		width:100%;
	}
}


