//variables

$main-text-font:'Comfortaa', cursive;
$heading-font:'Arvo', serif;
$article-font:'Comfortaa', cursive;

//COLORS--------------
//light grey:		#E6E8E6		230,232,230
//grey:				#CED0CE		206 208 206
//light green:		#9FB8AD		159 184 173
//dark green:		#475841		71, 88, 65
//dark grey:		#374153		63,64,63
//almost black		#0f0f0f
//blue/black   		#242325

//dark blue-grey	#14141e
//grey				#596475
//orange			#f26419
//yellow			#f6ae2d
//lt blue			#86bbd8

/*$bg-color:#475841;
$nav-color:#3F403F;
$footer-color:#9FB8AD;
$main-font-color:#3F403F;
$btn-font-color:#CED0CE;
$accent-color:#9FB8AD;
$heading-font-color:#575841;*/

$bg-color:#14141e; //dark blue-grey
$nav-color:#14141e; //dark blue-grey
$footer-color:#242325; //dark grey
$fotorama-bg-color:#0f0f0f; //almost black
$main-font-color:#E6E8E6; //light grey
$btn-font-color:#CED0CE;
$code-bg-color:rgba(230,232,230,.3);
$accent-color:#f26419;  //orange
$accent-color2:#f6ae2d; //yellow
$accent-color3:#86bbd8; //lt blue
$btn-font-color:#f26419;  //orange
$article-bg-color:#14141e;
$title-bg-color:rgba(36,35,37,.3); //3% of dark grey
$title-font-color: #f6ae2d; //yellow
$section-sub-title-font-color:#86bbd8; //lt blue
$article-title-font:#86bbd8; //lt blue
$article-font-color:#f6ae2d;
$overlay-title-color:#14141e; //dark blue-grey
$white: #fffaff;

$heading-font-color: $accent-color2;

$brand-height:70px;
$brand-height-lg:80px;
$standard-height:100px;
$standard-height-md:150px;


//BREAKPOINTS-------------

$bp-xsmall:475px;
$bp-small:768px;
$bp-medium:970px;
$bp-large:1200px;


//mixins

@mixin article-title-border{
	border-top: solid .08rem $accent-color3;
	border-left: solid .08rem $accent-color3;
	border-right: solid .08rem $accent-color3;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

@mixin article-info-border{
	border-top: solid .08rem $accent-color;
	border-bottom: solid .08rem $accent-color3;
	border-left: solid .08rem $accent-color3;
	border-right: solid .08rem $accent-color3;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

@mixin skillBlock-border{
	border: solid .08rem $accent-color3;
	border-radius: 5px;
}

@mixin main-body-font{
	padding:0 20px;
	color:$main-font-color;
	line-height: 1.5rem;

	@media(min-width: $bp-small){
		font-size: 1rem;
		padding-bottom: 1rem;
		line-height: 2rem;
	}
}

@mixin big-text{
		font-size: 1.25rem;
		margin-bottom: 10px;
		display: inline-block;
		@media(min-width: $bp-small){
			font-size: 1.75rem;
		}
}

@mixin link{
	& a:visited, & a:link{
		color:$accent-color;
	};

	& a:hover, & a:active{
		color:$accent-color2;
		transition: .5s;
	}
}






