.subPage{
	@include main-body-font;
	/*@include big-text;*/

	.titleImage{
		display: block;
		margin:1rem auto;
		max-width: 300px;
	}

	img{
		width:50%;
	}

	#patsyColorChangeDiv{
		background-color: rgb(0,0,0);
		width:100%;
		max-width:500px;
		height: 400px;
		margin:0 auto;
		img{
			display: block;
			height:100%;
			margin:0 auto;
		}
	}

	

	.tutorialSteps{
		img{
			margin: 0 auto;
			padding:5px;
		}
	}

	.captionBox{
		margin:0 auto;
		display: flex;
		flex-direction: row;
		width:100%;
		max-width:600px;
		p{
			margin:0 auto;
			width:60%;
			padding:0 1rem;
			/*font-size: .85rem;*/
			text-align: center;
		}
	}

	li{
		margin-top: 2rem;
		background-color: #353535;
		padding:1rem 0 1rem .5rem;
		border-radius: .5rem;
	}

	li img{
		width:90%;
		display: block;
		margin:1rem 0;
		@media(min-width: $bp-xsmall){
			width:initial;
			margin:.5rem 0;
		}
	}

}


